.login {
  justify-content: center;
  display: flex;
  align-items: center;
  height: 90vh;
  background-color: transparent;
}

.login__container {
  display: flex;
  box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.24);
  height: 450px;
  width: 350px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  background-color: #fff;
  opacity: 0.97;
}

.form__title {
  position: absolute;
  top: 20px;
}

.login__form {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.login__formContainer {
  width: 250px;
}

.form__button {
  width: 100%;
  position: absolute;
  bottom: -50px;
  font-weight: 700 !important;
}

.form__button:hover {
  color: orangered;
}

.login__form > input {
  width: 250px;
  height: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
}
